/* Imports Roboto font */

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* Body config */

body { 
    margin:0 auto;
    color:#111;
    font-family:"Roboto", "Helvetica", "Arial", sans-serif;
    line-height:1.5;
}

h1, h2, strong {  
    color:darkred;
}

/* Set a link color to red */

a {  
    color:darkred;
    text-decoration:none;
}

/* Header */

header {
    background-color:#111;
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    line-height:1.2;
    padding:5vw 2em;
    text-align:center;
}

header h1 { 
    color:white;
    display:center;
    font-size:37px;
}

header a {
    color:white;
    text-decoration:white;
}

header img {  
    display:inline-block;
    height:200px;
    width:300px;
    vertical-align:top;
}

/* Hover darkred effect */

.fgu-red-hover:hover {
    color:darkred;
}

/* Nav bar */

ul {  
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}

li {
    float:right;
}

li a {
    display:block;
    padding:14px;
    color:white;
    text-align:center;
    text-decoration:none;
}

li a:hover:not(.active) {
    background-color:#111;
}

.active {
    background-color:#111;
}

/* Section config */

.fgu-section {
    margin:0 auto;
    max-width:72em;
    line-height:1.5;
    padding:4 5em;   
}

.fgu-section h1 {
    text-align:center;
}

/* Line divider */

hr {
    display:block;
    background-color:#111;
    padding:0.001em;
}

/* Footer */

footer {
    text-align:center;
    background-color:#111;
    float:bottom;
    display:block;
    padding:0.2px;
}

footer h4 {
    color:white;
}

footer a {
    text-decoration:none;
    color:white;
}

/* Team row */

.fgu-team-column {
    float:left;
    width:20%;
}

.fgu-team-column img {
    display:inline-block;
    width:210px;
    height:200px;
    vertical-align:top;
    opacity:0.7;
}

.fgu-team-column img:hover {
    opacity:10;
}

.fgu-team-column h4 {
    text-align:center;
    color:#333;
}

.fgu-team-column h2 {
    text-align:center;
    color:#111;
}

.fgu-team-column p {
    text-align:center;
    float:center;
    max-width:200px;
}

.fgu-team-row:after {
    content:" ";
    display:table;
    clear:both;
}

/* FGU Active */

.fgu-active {
    background-color:darkred;
}

/* Button layout */

button {
    color:white;
    box-shadow:all;
    display:block;
    background-color:darkred;
    height:50px;
    width:100px;
    font-size:20px;
    border:transparent;
    padding:5px;
}

/* Columns for the game section */

.fgu-games-column {
    float:left;
    width:20%;
}

.fgu-games-column img {
    display:inline-block;
    width:220px;
    height:200px;
    vertical-align:top;
    opacity:0.7;
}

.fgu-games-column img:hover {
    opacity:10;
}

.fgu-games-column h4 {
    text-align:center;
    color:#333;
}

.fgu-games-column h2 {
    text-align:center;
    color:#111;
}

.fgu-games-column p {
    text-align:center;
    float:center;
    max-width:200px;
}
